*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #B29CE4;
    border-bottom: none;
    height: 100vh;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/rodrigo-tadeo-9NNFmsEi1z4-unsplash.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1{
    font-size: 4rem ;
    color: white;
}
.yee{
    -webkit-text-stroke: 3px orangered;   
    color: yellow;
}
.yee2{
    -webkit-text-stroke: 2px yellow;
    color: orangered;
}
.yerp{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hero-btn{
    text-align: center;
    text-decoration: none;
    color: orangered;
    border: 1px solid orangered;
    padding: 12px 34px;
    font-size: 1.5rem;
    background: yellow;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
}
.hero-btn:hover{
    border: 1px solid white;
    background: orangered;
    transition: 1s;
    color: yellow;
    border: 1px solid yellow;
}